
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link  rel="stylesheet"
           type="text/css" href="/assets/scc/style.css">
    <title>Guestbook</title>
</head>

<header>
    <div class="header">
        <img alt="imageBaner" src="/assets/image/1.jpg">
        <div id="navigation">
            <ul class="menu">
                <li><a href="locationMap">LOCATIONS</a></li>
                <li><a href="">RECIPES</a></li>
                <li><a href="guestbook">BLOG</a></li>
                <li><a href="caffee">HOME</a></li>
            </ul>
        </div>
    </div>

</header>

<div class="top_bar">
    <div>
        <button onclick="window.location.href ='/guestbook/new';">Add comments</button>
       
    </div>
</div>
<div class="count">
    {{.SignatureCount}} - comments

    <div class="block" style="overflow: auto; width: 300px; height: 500px">


        {{range .Signatures}}
            <p>{{.}}</p>
            <img alt="imageavatar" src="/assets/image/2.png" class="image_2">
        {{end}}
    </div>
</div>
<script src="/assets/js/guestbookScroll.js"></script>
</body>
</html>
