.top_bar {

    border-radius: 40px;

    display: inline-block;

}
.header{

    margin: -30px auto 19px;
    border: none;
    box-shadow: 0 20px 20px -20px #333;
    padding-top: 25px;
}

img{
    width: 250px;
    height: 250px;
    border-bottom-color: black;
    border-radius: 10px;
    padding-left: 1%;

}
h1{
margin-left: 65px;
background-color: blue;

}

p{
    background-color: bisque;
}
.image{
    height: 20px;
    width: 10px;
}
/* guestbook */
.block{
    color: black;
    width: 30vh;
    height: 10%;
    vertical-align: top;
    float: left;
    margin-top: 5px;
    border-radius: 10px;
    background-clip: content-box;
   border: 4px solid lavenderblush;
    text-align: left;
    display: inline-block;
    background-color: darkgoldenrod;
}
.image_2{
    width: 25px;
    height: 25px;
    float: left;

    padding-left: 5px;
    position: relative;
    top: -4px;

}



button{
    background-color: burlywood;
    border-radius: 10px;
    font-family: sans-serif;
}

.count{
    color: white;
    padding-top: 2px;
    text-align: left;

}
body{

    background: url("/assets/image/krasivo-3.jpg") no-repeat fixed center center;
    background-size: cover;

}
input{
    color: black;
    background-color: whitesmoke;
    height: 30px;
}
p{
    background-color: burlywood;
}
.bt_1{
    height: 45px;
    width: 86px;
    color: whitesmoke;
    background-color: brown;
    font-family: sans-serif;
}
.bt_2{
    height: 45px;
    width: 86px;
    color: brown;
    font-family: sans-serif;
}
h2{
    font-family: sans-serif;
}
.menu{
   list-style: none;
}
.menu li{
    float: right;
    margin-right: 20px;
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;

}
.menu li a{
    display: block;
    text-decoration: none;
    color: #865834;
    position: relative;
}
.menu li a:hover{
    background: #f5ebe2;
    border-radius: 5px;
    color: #675c47;
}
