body{
    color: #000;
    background: burlywood url("/assets/image/fonCofe.jpg");
    font-family: "Times New Roman";
    font-size: 14px;
 /* caffe.html*/
}
h1{
    font-size: 150%;
    color: antiquewhite;
    text-align: center;
}
#textHeader{

    font-family: "Monotype Corsiva";
    font-size: 40px;
    text-align: center;
    color: antiquewhite;
    padding: 30px;
/*Проработать  Done*/
}
#logo{
    width: 170px;
    height: 120px;
    margin: -20px 0px 20px 20px;
    /* Проработать логопип  Done*/
}
#header{
    width: 100%;
    height: 255px;
    background-color: #675c47;
    background-image: url("/assets/image/banerLogoCoffe.jpg");
    background-repeat: no-repeat;
}
#IMG-1{
    width: 200px;
    height: 150px;
    margin-right: 200%;

}

#conteiner{
   /* background: burlywood;*/
    background-color: #675c47;

    margin: auto auto;
    text-align: center;
    height: 400px;
    width: 880px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navigation{  /*  home blog */
    width: 100%;
    height: 48px;
    background-color: saddlebrown;

}
#sidebar{
    background-color: saddlebrown;
    float: left;
    width: 180px;
    padding: 15px;
    font-size: 100%;
    height: 145%;
    color:antiquewhite;

}
#sidebar-right{
    height: 148%;
    width: 140px;
    padding: 9px;
    font-size: 12px;
    float: right;
    text-align: center;
    background: #f4a460;
    background: linear-gradient(-45deg, transparent 34px, #c17676 0);
}
#IMG-sidebar{
    width: 90%;
    position: relative;
    margin: -15px;
}
#content {
    background-color: darkgrey;
    width: 100%;
    height: 610px;

}

#clear{
    clear: both;
}
#footer{
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    font-size: 90%;
    clear: right;
}

#linkSidebartext{
    color: rosybrown;
  text-align: left;

}
#text-2{
    font-size: 110%;
    text-align: justify;
    padding: 15px 8px 8px 8px;

}

#text-3{
    font-size: 110%;
    text-align: center;
    padding: 15px 8px 8px 8px;
}
#textPage-1{ /*Заголовок-1 done*/
    font-size: 110%;
    text-align: center;
   /* margin: 40px 10px 10px 10px;*/
    padding: 5px;
    margin: 10px 19px 20px 50px;
}
#textPage-4{
   font-size: 110%;
  /*  padding: 10px 5px 10px 30px;*/
    text-align: center;
    position: relative;
    margin: 15px 8px 8px 8px;

}
#textPage-5{
   font-size: 110%;
    text-align: center;
    position: relative;

}
#textPage-2{ /*текст 2*/
    font-size: 110%;
    text-align: center;
    position: relative;
    margin: 15px 8px 8px 8px;

}
#textPage-3{
    font-size: 110%;
    text-align: center;
    position: relative;
    margin: 15px 8px 8px 8px;
}
#taskMenu #sidebar-right h2{
    width: 20%;
    height: 20px;
    font-size: 40px;

}
div h1{
   color: lemonchiffon;
    font-family: "Monotype Corsiva";

}

/*Caffee.html*/
.menu-3{
    list-style: none;
}
.menu-3 li{
    float: left;
    margin-right: 2px;
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;


}
.menu-3 li a{
    display: block;
    padding: 15px 20px;
    color: white;
    background:  #c17676;
    text-decoration: none;
    position: relative;

}
.menu-3 li a:hover{
    background:  #c17676;
    color: #675c47;
}
#menuHomePage{
    margin: 2px;
    color: #007e7e;
    font-family: "Monotype Corsiva";
    font-size: 18px;
}
