
body{
    background: burlywood url("/assets/image/fonCofe.jpg");
    color: #000;
    font-family: Arial sans-serif;
    font-size: 14px;

}
#header{
    width: 100%;
    height: 255px;
    background: #675c47 url("/assets/image/banerLogoCoffe.jpg") no-repeat;
}
#conteiner{
    background-color: #675c47;
    margin: auto auto;
    height: 400px;
    width: 880px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#sidebar-rights{
    height: 46%;
    width: 140px;
    font-size: 16px;
    float: right;
    padding: 17px;
    text-align: center;
    background: #f4a460;
    background: linear-gradient(-45deg, transparent 34px, #c17676 0);
}
#navigation{  /* ellxir/html */
    width: 100%;
    background: saddlebrown;
    height: 28px;

}

#content{
    width: 100%;
    background: whitesmoke;
    height: 602px;

}
#clear{
    clear: both;
}
#footer{
    height: 40px;
    background:  #675c47;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 90%;

}
/* Next*/
#logoTextHeader{
    font-family: "Monotype Corsiva";
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
    padding: 30px;
}
#logoHeader{ /* done*/
    width: 170px;
    height: 120px;
    margin: -20px 0px 20px 20px;
}
#text-left{
    box-shadow: 0 5px 245px 20px lightpink;
    padding: 30px 450px 10px 0px;
    font-family: "Monotype Corsiva";
    color: #007e7e;
    background-color: #ffe2e5;
    font-size: 29px;

}
h2{
    font-size: 29px;
}
#IMG-Logo{
    height: 160px;
    display: block; width: 220px;
    margin: -90px 50px 40px 510px;
    position: absolute;
}
#PhotoList img{
    width: 110px;
    height: 110px;
    padding-left: 10px;
    padding-bottom: 35px;
    margin: 23px;

}
#imgphoto-1{
    width: 20em;
    height: 20em;
    padding-top: 110px;
}
.cell{
    width: 33%;
    height: 350px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
    margin: 95px 0px 20px 15px;

}
.cell img {
    width: 100%;
    height: 350px;
    object-fit: cover;

}
.headingtext1 {
    color: sandybrown;
    position: absolute;
    padding: 8px 0px 0px 4px;
    margin: 410px 10px 20px -230px;
}
.headingtext2 {
    color: sandybrown;
    position: absolute;
    padding: 10px 20px 0px 4px;
    margin: 410px 1px 20px -230px;
}
.headingtext3{
    color: sandybrown;
    position: absolute;
    padding: 10px 20px 0px 4px;
    margin: 410px 8px 20px -230px;
}
.headingtext4{
    color: sandybrown;
    position: absolute;
    padding: 10px 20px 0px 4px;
    margin: 410px 12px 20px -230px;
}
.headingtext5{
    color: sandybrown;
    position: absolute;
    padding:10px 20px 0px 4px;
    margin: 410px 45px 20px -230px;
}
.headingtext6{
    color: sandybrown;
    position: absolute;
    padding: 10px 20px 0px 4px;
    margin: 410px 63px 20px -230px;
}
.headingtext7{
    color: sandybrown;
    position: absolute;
    padding: 10px 20px 0px 4px;
    margin: 410px 48px 20px -230px;
}
.headingtext8{
    color: sandybrown;
    position: absolute;
    padding: 10px 20px 0px 4px;
    margin: 410px 75px 20px -230px;
}
.headingtext9{
    color: sandybrown;
    padding: 10px 20px 0px 4px;
    margin: 410px 80px 20px -230px;
}
.headingtext10{
    color: sandybrown;
    padding: 10px 20px 0px 4px;
    margin: 410px 40px 20px -230px;
}
.menu{
    list-style: none;
}
/* elexir.html* styleDrinks */
.menu li{
    float: left;
    margin-right: 1px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}
.menu li a{
    display: block;
    padding: 10px 20px;
    color: white;
    background: #c17676;
    text-decoration: none;
    position: relative;
}
.menu li a:hover{
    background:#c17676;
    color: #675c47;
}
#menuElexir{
    margin: -9px;
    color: #007e7e;
    font-family: "Monotype Corsiva";
    font-size: 18px;
}