body{
    background: burlywood  url("/assets/image/fonCofe.jpg");
    color: #000;
    font-family: Arial sans-serif;
    font-size: 14px;
}
#header{
    width: 100%;
    height: 255px;
    background: #675c47 url("/assets/image/banerLogoCoffe.jpg") no-repeat;
}
#conteiner{
    width: 880px;
    height: 400%;
    text-align: center;
    background-color: #675c47;
    margin: auto auto;
    padding-bottom: 5px;
    padding-top: 5px;
}
#sidebar{
    height: 184px;
    width: 140px;
    font-size: 16px;
    float: right;
    padding: 17px;
    text-align: center;
    background: #f4a460;
    background: linear-gradient(-45deg, transparent 34px, #c17676 0);
}

#navigation{
    width: 100%;
    height: 28px;
    background: saddlebrown;

}
#content{
    width: 100%;
    background: white;
    height: 602px;

}
#clear{
    clear: both;
}
#footer{
    height: 40px;
    background: #675c47;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 90%;
}
#logoHead{
    width: 170px;
    height: 120px;
    margin: -20px 0px 20px 20px;
}
#logoTextHead{
    font-family: "Monotype Corsiva";
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 30px;
}
#IMG-Log{
    height: 160px;
    display: block; width: 220px;
    margin: -90px 50px 40px 510px;
    position: absolute;
}
#texts-lefts{
    box-shadow: 0 5px 245px 20px darkred;
    padding: 30px 450px 10px 0px;
    font-family: "Monotype Corsiva";
    color: #007e7e;
    background-color: #ffe2e5;
    font-size: 29px;
}

.cell{
    width: 39%; /* fixed */
    height: 350px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 30px;
    border: darkred solid 2px;
    margin: 95px 0px 20px 15px;
}
.cell img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.headingtext1 {
    color: olivedrab;
    position: absolute;
    padding: 18px 0px 0px 4px;
    margin: 410px 50px 20px -230px;
}
.headingtext2 { /* Done */
    color: olivedrab;
    position: absolute;
    padding: 18px 40px 0px 4px;
    margin: 410px 7px 20px -230px;
}
.headingtext3{
    color: olivedrab;
    position: absolute;
    padding: 18px 20px 0px 4px;
    margin: 410px 2px 20px -230px;
}
.headingtext4{
    color: olivedrab;
    position: absolute;
    padding: 19px 20px 0px 4px;
    margin: 410px 1px 20px -230px;
}
.headingtext5{
    color: olivedrab;
    position: absolute;
    padding: 19px 20px 0px 4px;
    margin: 410px 1px 20px -230px;
}
.menu-2{
    list-style: none;
}
.menu-2 li{
    float: left;
    margin-right: 1px;
    font-size: 14px;
    font-family: Verdana,  Arial,  sans-serif;

}
.menu-2 li a{
    display: block;
    padding: 10px 20px;
    color:  white;
    background: #c17676;
    text-decoration: none;
    position: relative;

}
.menu-2 li a:hover{

background:  #c17676;
    color: #675c47;
}
#menucoffeeBar {
    margin: -9px;
    color: #007e7e;
    font-family: "Monotype Corsiva";
    font-size: 18px;
}




































/*
.image_1{
    width: 250px;
    height: 250px;
    margin-left: 15px;

}
{
    margin: 0;
    padding: 0;
}
#cl{
    padding: 8px 1px 4pc -1px;

}
h1{

    font-family: "Emblema One", sans-serif;
    text-align: center;
    color: red;
    border: none;
    padding-top: 1px;
    font-style: inherit;
    box-shadow: 0 20px 20px -10px coral;
}
h2{
    font-family: sans-serif;
    color: green;


}
body{

     background-size: cover;
     line-height: 1.6em;
     font-family: Verdana, Helvetica, Arial sans-serif;
    background-color: white;
}
p {
    margin-top: 3px;
    font-family: sans-serif;
    color: rebeccapurple;
    padding-left: 9px;

}

a{
    opacity: 0.3;
}
.textlogo{
    text-align: left;
    margin-left: 350px;
    position: relative;
    bottom: -60px;
    left: -140px;
    color: purple;
    font-family: "Monotype Corsiva" ;
    font-style: oblique;
    font-size: 45px;

}
.container {
    width: 97.2%;

    padding: 0px 10px 10px;
    margin: 50px 1px 10px 10px;

}

.container {
    padding-left: 20px;
    padding-top: 1px;
    text-align: justify;

    margin-bottom: 10px;
    width: 80%;

}
.container_1{


}
.heading_2 h1{
    text-align: center;
    padding-left: 10px;
}
#gurantee {

    border-color: black;
    border-width: 2px;
    border-style: dashed;
    border-color: white;
    padding: 25px;
    margin: 10px 10px 9px 9px;
    background-color: #a7cece;
    box-shadow: 0 20px 10px -20px #a7cece;
    font-size: 18px;
    font-family: "Monotype Corsiva"

}
#menuHeader{
    color: #333333;
}
#tr_2{
    padding-left: 20px;
}
#elixirs {
    border: 1px  solid #007e7e;
    background-color: white;
    width: 200px;
    float: right;
    text-align: center;
    margin: 10px 38px 50px 10px;
    padding: 20px 20px 1px 10px;
}
#txtLemon{
    text-align: justify;
}
#txtIce{
    text-align: justify;
}
#txtBrain{
    text-align: justify;
}
#txtvisit{
 text-align: justify;

}

img{
    height: 120px;
}
#elixirs h2{
    color: black;

}
#elixirs h3{
    color: red;
}

#blockmusic{
    border: 0px solid chocolate;
    width: 800px;
    padding: 20px;
    margin: 15px 20px 10px 30px;
    background:  #EBE0C5;
    border-radius: 0px 10px;
    height: 400px;
}
#blockmusic h2{
    color: saddlebrown;
    padding: 10px 10px 20px 10px;
    font-family: "Monotype Corsiva";
    text-align: center;
    font-size: 30px;
    height: 939px;
}
#blockmusic p{
    text-align: left;
    color: black;
    padding: 14px;

}

#textmusik  {
    padding: 27px;
    margin: 9px;
    position: relative;
    bottom: 900px;
    text-align: justify;
    border: 1px solid chocolate;
    box-shadow: 0 20px 20px -10px papayawhip;
    background-color: #a7cece;

}

.cd {
    font-style: italic;
}
.artist{
    font-weight: bold;
}

#textart{
    padding: 20px;
    text-align: justify;
    position: relative;
    bottom: 900px;
    margin-left: 3px;

}
#elixirs a:link{
    color: #007e7e;
}
#elixirs a:visited{
    color: #333333;
}
#elixirs a:hover{
    background: #f88396;
    color: #0d5353;
}

.container-1 {
    display: flex;
    align-items: stretch;
    height: 400px;
    width: 100%

}
#IMG-1 {
    width: 130px;

}
#IMG-2{
    width: 130px;
}
#IMG-3{
    width: 135px;

}
#IMG-4{
    width: 130px;
}

#text_biography{
    text-align: left;
    font-size: 12px;
    color: white;
}
.container-1 div {
    font-family: sans-serif;
    border: 1px solid saddlebrown;
    color: white;
    width: 300px;
    background-color: skyblue;
    padding: 30px 10px 0px 20px;
    margin: 30px;
    border-radius: 0 10px;
    background-image: url("/assets/image/B.jpg");
}
.block_1{
    font-family: sans-serif;
    border: 1px solid saddlebrown;
    color: white;
    width: 300px;
    background-color: skyblue;
    padding: 20px 70px 15px 20px;
    margin: 30px;
    border-radius: 0 10px;
    background-image: url("/assets/image/B.jpg");

}
.block_2{
    font-family: sans-serif;
    border: 1px solid saddlebrown;
    color: white;
    width: 300px;
    background-color: skyblue;
    padding: 30px 60px 12px 20px;
    margin: 30px;
    border-radius: 0 10px;
    background-image: url("/assets/image/B.jpg");

}

.block_3 {
    font-family: sans-serif;
    border: 1px solid saddlebrown;
    color: white;
    width: 300px;
    background-color: skyblue;
    padding: 20px 77px 1px 21px;
    margin: 22px;
    border-radius: 0 10px;
    background-image: url("/assets/image/B.jpg");

}

.block_4{
    font-family: sans-serif;
    border: 1px solid saddlebrown;
    color: white;
    width: 300px;
    background-color: skyblue;
    padding: 20px 77px 1px 21px;
    margin: 22px;
    border-radius: 0 10px;
    background-image: url("/assets/image/B.jpg");
}
.footer{
    font-size: 50%;
    text-align: center;
    line-height: normal;
    margin-top: 200px;
}
.scrolling{

    width: 30em;
    height: 10em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    word-wrap: normal;
    margin: 90px 30px 40px 250px;

}
.scrolling img{
    width: 10em;
    height: 10em;
}

.containerText h2{
    font-family: "Monotype Corsiva";
    font-size: 50px;
    text-align: center;
    color: red;
    font-style: initial;
    padding: 50px 40px 30px 20px;
}
div {
    width: 900px;
    margin: auto;
    overflow: hidden;
}
*/


