
.WorkingHouse{
    width: 236px;
    height: 258px;
    border: coral solid 1px;
    position: absolute;
    z-index: 5;
    margin: 48px 0px 0px 18px;
    background-color: rgba(255, 0, 0, 0.10);
    background-image: url("/assets/image/opening-hours.jpg");

}
.sci{
    position: absolute;
    top: 104%;
    right: 25px;

}
.sci li{
    list-style: none;
    display: inline-block;
    text-align: center;
}
.sci li a{
    padding: 5px 5px;
    text-decoration: none;
    color: sandybrown;

}
