
.menu-main{
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding: 32px 0px;
    text-align: center;
}
.menu-main li{
    display: inline-block;
    width: 100px;
    font-weight: bold;

}
.menu-main a{
    color: burlywood;
    text-decoration: none;

}
.menu-main a:hover{
    background-color: white;
    border-radius: 2px 3px;
}



